*.dart linguist-language=Dart
*.h linguist-vendored
*.cpp linguist-vendored
*.c linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored
*.hpp linguist-vendored
*.hh linguist-vendored
*.hxx linguist-vendored
*.ino linguist-vendored
*.pde linguist-vendored
*.ino linguist-vendored
*.cs linguist-vendored
*.java linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
